<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
           id="org.ogis.h2gis"
      version="0.1.0">
    <name>H2gis</name>
    <description>H2GIS Plugin</description>
    <license>MIT</license>
    <keywords>phonegap,h2gis</keywords>


    <js-module src="www/h2gis.js" name="H2GIS">
        <clobbers target="window.h2gis" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="H2GIS">
                <param name="android-package" value="org.ogis.h2gis.H2GIS"/>
            </feature>
        </config-file>

        <source-file src="src/android/H2GIS.java" target-dir="src/org/ogis/h2gis" />      
     </platform>          
</plugin>
